@keyframes cambio-color {
    0% {
        filter: hue-rotate(0deg);
        /* Verde */
    }

    25% {
        filter: hue-rotate(90deg);
        /* Violeta */
    }

    50% {
        filter: hue-rotate(180deg);
        /* Amarillo */
    }

    75% {
        filter: hue-rotate(270deg);
        /* Naranja */
    }

    100% {
        filter: hue-rotate(360deg);
        /* Vuelve al verde */
    }
}

.neon {
    /* font-family: 'Arial', sans-serif; */
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px rgba(255, 255, 255, 0.6);
    text-align: center;
}

.navitem:hover {
    color: rgb(255, 255, 255)
}

.logo {
    filter: hue-rotate(0deg);
    position: absolute;
    /* Iniciamos con el color original */
    animation: cambio-color 6s linear infinite;
}

.navitem {
    color: rgba(255, 255, 255, 0.474);
}


.navbar_custom {
    background-color: #000000b4;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 1;
    transition: all 1.5s;
}

.scrolled {
    background-color: #00000093;
    opacity: 0;
}

/* .navbar-items {
    text-end
} */