.App {
  text-align: center;
  background-color: #232529;
  height: 50vh;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.shadowbottom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.shadowtop {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);

}


.cambio-color {
  animation: cambio-color 6s linear infinite;
}

@keyframes cambio-color {
  0% {
      filter: hue-rotate(0deg);
      /* Verde */
  }

  25% {
      filter: hue-rotate(90deg);
      /* Violeta */
  }

  50% {
      filter: hue-rotate(180deg);
      /* Amarillo */
  }

  75% {
      filter: hue-rotate(270deg);
      /* Naranja */
  }

  100% {
      filter: hue-rotate(360deg);
      /* Vuelve al verde */
  }
}